{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<div class="pagetitle d-flex justify-content-between align-content-center">
    <div class="pagetitle">
        <h1>Projects : {{project.name}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="{{url_for('main.home')}}">Projects</a></li>
                <li class="breadcrumb-item active">{{project.name}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div>
        <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#export-model"><i
                class="ri-file-download-fill"></i> Export</button>
        {% if project.creator_id == current_user.id %}
        <a href="{{url_for('main.project_upload',id=project.id)}}" class="btn btn-warning">
            <i class="bx bx-upload"></i> Upload Data</a>
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-model"><i
                class="bx bxs-folder-minus"></i> Delete</button>
        {% endif %}
        
    </div>
</div>


<section class="section">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                    <h5 class="card-title">Projects Settings </h5>
                    
    
                </div>
    
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="card top-selling overflow-auto">
                <div class="card-body pb-0">
                    <h5 class="card-title">Project Members <span>| {% if project.creator_id == current_user.id %}
                        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#add-user-model"><i class="ri-user-add-fill"></i></button>{% endif %}</span></h5>
                        
                        
                    <table class="table table-borderless">
                        <thead>
                          <tr>
                            <th scope="col">User</th>
                            <th scope="col">Username</th>
                            <th scope="col">Name</th>
                            <th scope="col">Role</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th><img src="https://robohash.org/{{owner.username}}" alt="Profile" width="40" class="rounded-circle"></th>
                            <th>{{owner.username}}</th>
                            <th>{{owner.name}}</th>
                            <td><i class="ri-shield-star-fill"></i> Owner</td>
                          </tr>
                          {% for user in users%}
                          <tr>
                            <th><img src="https://robohash.org/{{user.username}}" alt="Profile" width="40" class="rounded-circle"></th>
                            <th>{{user.username}}</th>
                            <th>{{user.name}}</th>
                            <td> {{user.role}}</td>
                          </tr>
                          {%endfor %}
                        </tbody>
                      </table>
    
                </div>
    
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card top-selling overflow-auto">
            <div class="card-body pb-0">
                <h5 class="card-title">Tasks <span>| Today</span></h5>

                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Preview</th>
                            <th scope="col">Path</th>
                            <th scope="col">Status</th>
                            <th scope="col">{% if project.type == 'det'%}Boxes{% elif project.type=='class' %}Label{%
                                endif %}</th>
                            <th scope="col">By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for task in tasks %}

                        <tr>

                            <th scope="row"><a href="{{ url_for('main.project_task',id=task.id) }}"><img
                                        class=" rounded" src="../{{ task.path }}" width="75" height="75"
                                        alt="{{task.path}}"></a></th>
                            <td><a href="{{ url_for('main.project_task',id=task.id) }}">{{task.path}}</a></td>
                            <td>
                                {% if task.approved %}
                                <span class="badge bg-success"><i class="bi bi-check-circle-fill"></i> Approved</span>
                                {% elif task.finished %}
                                <span class="badge bg-success">Completed</span>
                                {% elif task.label_by %}
                                <span class="badge bg-warning">In Progress</span>
                                {% else %}
                                <span class="badge bg-secondary-light">Not Started</span>
                                {% endif %}
                            </td>
                            <td class="h5 fw-bold">{% if project.type == 'det'%}{{task.label|length}}{% elif
                                project.type=='class' %}<span class="badge rounded-pill bg-secondary-light"
                                    style="background-color:{{task.label['color']}}">{{task.label['classname']}}</span>{%
                                endif %}</td>
                            <td>
                                {% if task.label_by %}
                                <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#"
                                    data-bs-toggle="dropdown">
                                    <img src="{{ url_for('auth.profile_img', id=task.label_by) }}" width="30"
                                        height="30" alt="Profile" class="rounded-circle">

                                </a>
                                {% endif %}
                            </td>


                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>

        </div>
    </div>
    <!-- Gallery -->
    <!-- <div class="row">
        {% for task in tasks %}
        <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
            <a href="{{ url_for('main.project_task',id=task.id) }}">
                <img src="../{{ task.path }}" class="w-100 shadow-1-strong rounded mb-4" width="200" height="200"
                    alt="{{task.path}}" />
            </a>
        </div>
        {% endfor %}
    </div> -->
    <!-- Gallery -->






</section>
<!-- Delete Modal -->
<div class="modal fade" id="delete-model" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    Fill the confirm text
                    <input class="form-control" id="delete-text" type="text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" onclick="delete_project()" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
<!-- End Vertically centered Modal  -->


<!-- Export Modal -->
<div class="modal fade" id="export-model" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Export Format</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{url_for('api.export',id=project.id)}}" method="post">
                <div class="modal-body">
                    {%if project.type == 'det'%}
                        <fieldset >
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="format" id="format1"
                                        value="yolo" checked="">
                                    <label class="form-check-label" for="format1">
                                        YOLO
                                    </label>
                                </div>
                                <div class="form-check disabled">
                                    <input class="form-check-input" type="radio" name="format" id="format2"
                                        value="coco" disabled="">
                                    <label class="form-check-label" for="format2">
                                        COCO 
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                    {% elif project.type == 'class' %}
                    <fieldset >
                        <div class="col-sm-10">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="format" id="format1"
                                    value="file" checked="">
                                <label class="form-check-label" for="format1">
                                    Folder Structure
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="format" id="format2"
                                    value="csv">
                                <label class="form-check-label" for="format2">
                                    CSV
                                </label>
                            </div>
                        </div>
                    </fieldset>
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Export</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
<!-- End Vertically centered Modal  -->

<!-- Add user Modal -->
<div class="modal fade" id="add-user-model" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{{url_for('api.project_add_user',id=project.id)}}" method="post">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="userSelect">Select User:</label>
                        <select name="user" class="form-control" >
                            {% for user in all_user %}
                            <option value="{{user.id}}">({{user.username}}) {{user.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group my-3">
                        <label for="roleSelect">Select Role:</label>
                        <select name="role" class="form-control">
                            <option value="labeler">Labeler</option>
                            <option value="reviewer">Reviewer</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
<!-- End Vertically centered Modal  -->
{% endblock %}

{% block script %}
<script>
    async function delete_project() {
        res = await fetch('/api/projects/{{ project.id}}/del', {
            method: 'DELETE'
        })
        if (res.status === 200) {
            console.log("ok");
            window.location.href = "/";
        }
    }
</script>

{% endblock %}