{% extends "base.html" %}
{% block css %}
<style>
    #vertical-guide,
    #horizontal-guide {
        position: absolute;
        background-color: gray;
        pointer-events: none;
        /* ensures the guidelines don't interfere with other mouse events */
        display: none;
        /* hide them by default */
        z-index: 10;
        /* position them above other elements, adjust as needed */
    }

    #vertical-guide {
        width: 1px;
        height: 100%;

        top: 0;
    }

    #horizontal-guide {
        height: 1px;
        width: 100%;

        left: 0;
    }


    #image-container {
        position: relative;
        height: 100%;

        background-color: #fff;
    }

    #image-container {
        position: relative;
        height: 100%;
        background-color: #fff;
    }

    #zoom-controls {
        height: 100%;
        /* overflow: auto; */
    }



    #image :hover {
        cursor: crosshair;
    }

    .annotation {
        position: absolute;
        border: 2px solid red;
        background-color: rgba(255, 0, 0, 0.2);
        z-index: 2;
    }

    .annotation :hover {
        cursor: pointer !important;
    }

    .annotation.selected {
        border: 2px dashed gray;
    }

    select option[selected]{
        background-color: '#fff'
    }
</style>
{% endblock %}

{% block content %}
<div class="pagetitle d-flex justify-content-between align-content-center">
    <div class="pagetitle">
        <h1>Projects : {{project.name}}</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="{{url_for('main.home')}}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('main.project',id=project.id)}}">{{project.name}}</a>
                </li>
                <li class="breadcrumb-item active">{{task.path}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div>
        

        <a type="button" href="{{url_for('main.project_task',id=task.id-1)}}" id="prev-button" class="btn btn-primary {% if start %} disabled {% endif %}"><i class="bi bi-chevron-left"></i>Prev </a>
        <a type="button" href="{{url_for('main.project_task',id=task.id+1)}}" id="next-button" class="btn btn-primary {% if end %} disabled {% endif %}">Next<i class="bi bi-chevron-right"></i> </a>
        <button type="button" id="save-button" class="btn btn-primary "><i class="bx bxs-save"></i> Save</button>
        <button type="button" id="submit-button" class="btn btn-success"><i class="bx bxs-save"></i> Submit</button>
    </div>
</div>

<section class=" section">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-2 mt-3">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Label</h5>
                        <select id="color-picker" class="form-select form-select-lg mb-3" >
                            
                            <option value="" {% if task.label == []%} selected {% endif %}>Select label</option>
                            
                            {% for label in project.labels_info['classname'] %}
                            <option value="{{loop.index}}" style="background-color: green" {% if task.label.classname == label %} selected {% endif %}>{{label}}</option>
                            {% endfor %}
                        </select>
                        <h5 class="card-title">Zoom Level: <span id="zoom-level">100</span>%</h5>
                        <div id="zoom-controls" class="mb-2">
                            <button id="zoom-in" class="btn btn-primary"><i class="bi bi-zoom-in"></i></button>
                            <button id="zoom-out" class="btn btn-primary"><i class="bi bi-zoom-out"></i></button>
                                
                        </div>
                        <button id="delete-button" class="btn btn-danger">Delete</button>
                        <button id="reset-button" class="btn btn-danger">Reset</button>
                    </div>
                </div>

            </div>
            <div class="col-lg-12">

                <div  class="card ">
                    <div style="height: 30vh;overflow: auto;" id="annotation-list" class="card-body ">
                        <h5 class="card-title">Annotation List</h5>
                        <ul id="list">
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-lg-12">

                <div class="card">
                    <div id="annotation-list" class="card-body">
                        <h5 class="card-title">Project info</h5>
                        {{project.labels_info}}
                    </div>
                </div>

            </div>
        </div>
        <div class="col-10">
            <div id="image-container">
                <!-- <div id="vertical-guide"></div>
                <div id="horizontal-guide"></div> -->
                <div id="zoom-controls">
                    <div id="annotation-list"></div>
                    <img id="image" draggable="false" src="../{{task.path}}" alt="Image for annotation">
                </div>
            </div>
        </div>
<span></span>
    </div>
    <!-- Gallery -->



    <!-- Gallery -->




</section>
<!-- End Vertically centered Modal -->
<div class="modal fade" id="delete-model" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    Fill the confirm text
                    <input class="form-control" type="text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
<!-- End Vertically centered Modal  -->
{% endblock %}

{% block script %}
<!-- <script src="../static/scripts/drowing.js"></script> -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const image = document.getElementById('image');
        const container = document.getElementById('image-container');
        const img_container = document.getElementById('annotation-list')
        const annotationList = document.getElementById('list');
        const zoomInButton = document.getElementById('zoom-in');
        const zoomOutButton = document.getElementById('zoom-out');
        const zoomLevelSpan = document.getElementById('zoom-level');
        const deleteButton = document.getElementById('delete-button');
        const labellist = document.getElementById('color-picker');
        const saveButton = document.getElementById('save-button');
        const submitButton = document.getElementById('submit-button');
        const resetButton = document.getElementById('reset-button');
        const colors = [{% for color in project.labels_info['colors'] %}'{{color}}', {% endfor %}]
        const classesname = [{% for color in project.labels_info['classname'] %}'{{color}}', {% endfor %}]

        let zoomLevel = 100;
        let drawing = false;
        let start_x = 0;
        let start_y = 0;

        let label = [];
        let firstlabel = [];

        let undoStack = [];

        saveButton.addEventListener('click', updateDatabase)
        submitButton.addEventListener('click', submitTask)

        // Fetch boxes from the API
        function fetchBoxes() {
            fetch(`{{url_for('api.get_task',id=task.id)}}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    label = data; // Assign fetched boxes to the boxes array
                    firstlabel = data
                    updateList()
                })
                .catch(error => {
                    console.error('Failed fetching boxes:', error);
                });
        }

        labellist.onchange = function () {
            if (this.value == 0) {
                data = []
            } else {
                data = {"color":colors[this.value-1],"classname":classesname[this.value-1]}
            }
            label = data
            updateList()
            console.log(label);
            console.log(firstlabel);
        }

        // Assuming you have the imageId somewhere, you can call this function
        fetchBoxes();

        async function updateDatabase() {
            res = await fetch(`{{url_for('api.update_task',id=task.id)}}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ "label": label, "label_by": {{ current_user.id }}})
            })

            firstlabel = label
            updateList()
            console.log({ "label": label, "label_by": {{ current_user.id }}})
    }

    async function submitTask() {
        res = await fetch(`{{url_for('api.update_task',id=task.id)}}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ "label": label, "label_by": {{ current_user.id }}, "finished": true}),
        })
    firstlabel = [...label]
    console.log({ "label": label, "label_by": {{ current_user.id }}, "finished": true})
    }

    function updateList() {
        if (label === firstlabel) {
            saveButton.classList.add('disabled');
            // console.log(saveButton.classList)
        } else {
            saveButton.classList.remove('disabled');

        }
        annotationList.innerHTML = '';
    }

    function adjustZoom(factor) {
        zoomLevel += factor;
        zoomLevel = Math.min(Math.max(zoomLevel, 50), 200);
        image.style.width = `${zoomLevel}%`;
        zoomLevelSpan.textContent = zoomLevel;

        // Original dimensions
        const originalWidth = image.naturalWidth;
        const originalHeight = image.naturalHeight;

        // Displayed dimensions
        const displayedWidth = image.width;
        const displayedHeight = image.height;

        console.log(`Original dimensions: ${originalWidth}x${originalHeight}`);
        console.log(`Displayed dimensions: ${displayedWidth}x${displayedHeight}`);
        updateAnnotations();
    }

    function createAnnotation(box, index) {
        const annotation = document.createElement('div');
        annotation.className = 'annotation';
        annotation.dataset.index = index;

        annotation.style.borderColor = box.borderColor;
        annotation.style.backgroundColor = box.backgroundColor


        annotation.addEventListener('click', function () {
            annotation.classList.toggle('selected');
            // dragging = true;
            // draggedBox = box;
        });

        // annotation.addEventListener('mousedown', function (event) {
        //     const rect = annotation.getBoundingClientRect();
        //     offsetX = event.clientX - rect.left;
        //     offsetY = event.clientY - rect.top;
        //     annotation.classList.add('dragging'); // To possibly style it differently while dragging
        // });

        // annotation.addEventListener('mouseup', function (event) {
        //     if (dragging) {
        //         dragging = false;
        //         draggedBox = null;
        //         updateList();
        //     }
        // });

        annotation.style.left = `${box.x * image.width}px`;
        annotation.style.top = `${box.y * image.height}px`;
        annotation.style.width = `${box.width * image.width}px`;
        annotation.style.height = `${box.height * image.height}px`;

        container.appendChild(annotation);
    }

    image.addEventListener('mousedown', function (event) {
        drawing = true;
        const rect = image.getBoundingClientRect();
        start_x = (event.clientX - rect.left);
        start_y = (event.clientY - rect.top);
        console.log(`x=${start_x} , y=${start_y}`);
    });

    image.addEventListener('mouseup', function (event) {
        if (!drawing) return;
        drawing = false;

        const rect = image.getBoundingClientRect();
        const end_x = (event.clientX - rect.left);
        const end_y = (event.clientY - rect.top);


        const selectedClass = colorPicker.value - 1;
        const classname = classesname[selectedClass]
        const borderColor = colors[selectedClass];
    
        const box = {
            x: Math.min(start_x, end_x) / image.width,
            y: Math.min(start_y, end_y) / image.height,
            width: Math.abs(end_x - start_x) / image.width,
            height: Math.abs(end_y - start_y) / image.height,
            classname: selectedClass,
            borderColor: borderColor,
            backgroundColor: 'rgba(128,128,128,0.2)'
        };
        if (box.height == 0 || box.width == 0) return;


        boxes.push(box);

        updateAnnotations();
        updateList();
    });

    zoomInButton.addEventListener('click', function () {
        adjustZoom(10);
    });

    zoomOutButton.addEventListener('click', function () {
        adjustZoom(-10);
    });


    deleteButton.addEventListener('click', function () {
        // Collect all the selected annotations
        const selectedAnnotations = document.querySelectorAll('.annotation.selected');

        // Get their indices
        const indicesToDelete = Array.from(selectedAnnotations).map(annotation => parseInt(annotation.dataset.index, 10));

        // Remove the annotation element from the DOM
        selectedAnnotations.forEach(annotation => {
            annotation.remove();
        });

        // Remove the corresponding boxes
        boxes = boxes.filter((box, index) => !indicesToDelete.includes(index));

        // Update indices and re-render all remaining annotations
        updateAnnotations();
        updateList();
    });

    resetButton.addEventListener('click', function () {
        boxes = []
        updateAnnotations();
        updateList();
    })

    // Listen for keyboard shortcuts for undo (Ctrl+Z) and redo (Ctrl+Shift+Z)
    document.addEventListener('keydown', function (event) {

        

        if (event.key === 'Backspace') {
            // Perform deletion here
            const selectedAnnotations = document.querySelectorAll('.annotation.selected');

            // Get their indices
            const indicesToDelete = Array.from(selectedAnnotations).map(annotation => parseInt(annotation.dataset.index, 10));

            // Remove the annotation element from the DOM
            selectedAnnotations.forEach(annotation => {
                annotation.remove();
            });

            // Remove the corresponding boxes
            boxes = boxes.filter((box, index) => !indicesToDelete.includes(index));

            // Update indices and re-render all remaining annotations
            updateAnnotations();
            updateList();
        }

        if (event.ctrlKey && event.key === 's') {
            // console.log('save');
            updateDatabase()
        }
        // Check if Ctrl+Z is pressed
        if (event.ctrlKey && event.key === 'z') {

            if (boxes.length > 0) {
                // Pop the last box and store it in the undo stack
                const lastBox = boxes.pop();
                undoStack.push(lastBox);

                // Update annotations and list
                updateAnnotations();
                updateList();
            }
        }
        // Implement Ctrl+Shift+Z for redo
        else if (event.ctrlKey && event.shiftKey && event.key === 'Z') {
            if (undoStack.length > 0) {
                // Pop the last undone box and put it back in boxes
                const lastUndoneBox = undoStack.pop();
                boxes.push(lastUndoneBox);

                // Update annotations and list
                updateAnnotations();
                updateList();
            }
        }
    });

});

</script>
{% endblock %}