{% extends "base.html" %}
{% block css %}
<style>
      .popup {
    display: none;
    position: absolute;
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 1000;
  }
    #vertical-guide,
    #horizontal-guide {
        position: absolute;
        background-color: gray;
        pointer-events: none;
        /* ensures the guidelines don't interfere with other mouse events */
        display: none;
        /* hide them by default */
        z-index: 10;
        /* position them above other elements, adjust as needed */
    }

    #vertical-guide {
        width: 1px;
        height: 100%;

        top: 0;
    }

    #horizontal-guide {
        height: 1px;
        width: 100%;

        left: 0;
    }


    #image-container {
        position: relative;
        height: 100%;

        background-color: #fff;
    }

    #image-container {
        position: relative;
        height: 100%;
        background-color: #fff;
    }

    #zoom-controls {
        height: 100%;
        /* overflow: auto; */
    }

    #image :hover {
        cursor: crosshair;
    }

    .annotation {
        position: absolute;
        border: 2px solid red;
        background-color: rgba(255, 0, 0, 0.2);
        z-index: 2;
    }

    .annotation :hover {
        cursor: pointer !important;
    }

    .annotation.selected {
        border: 2px dashed gray;
    }

    select option[selected]{
        background-color: '#fff'
    }
</style>
{% endblock %}

{% block content %}
<div class="pagetitle d-flex justify-content-between align-content-center">
    <div class="pagetitle">
        <h1>Projects : {{project.name}} (Reviewer)</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item "><a href="{{url_for('main.home')}}">Projects</a></li>
                <li class="breadcrumb-item"><a href="{{url_for('main.project',id=project.id)}}">{{project.name}}</a>
                </li>
                <li class="breadcrumb-item active">{{task.path}}</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <div>
        

        <a type="button" href="{{url_for('main.project_task',id=task.id-1)}}" id="prev-button" class="btn btn-primary {% if start %} disabled {% endif %}"><i class="bi bi-chevron-left"></i>Prev </a>
        <a type="button" href="{{url_for('main.project_task',id=task.id+1)}}" id="next-button" class="btn btn-primary {% if end %} disabled {% endif %}">Next<i class="bi bi-chevron-right"></i> </a>
        <button type="button" id="unsubmit-button" class="btn btn-warning "><i class="bi bi-bookmark-x-fill"></i>
            Disapprove</button>
        <button type="button" id="submit-button" class="btn btn-success"><i class="bi bi-bookmark-check-fill"></i>
            Approve</button>
    </div>
</div>

<section class=" section">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    {% if category %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-2 mt-3">

            <div class="col-lg-12">

                <div  class="card ">
                    <div style="height: 30vh;overflow: auto;" id="annotation-list" class="card-body ">
                        <h5 class="card-title">Annotation</h5>
                        <div class="h3" id="list">
                            
                        </div>
                    </div>
                </div>

            </div>
            
        </div>
        <div class="col-10">
            <div id="image-container">
                <!-- <div id="vertical-guide"></div>
                <div id="horizontal-guide"></div> -->
                <div id="zoom-controls">
                    <div id="annotation-list"></div>
                    <img id="image" draggable="false" src="../{{task.path}}" alt="Image for annotation">
                </div>
            </div>
        </div>
<span></span>
    </div>
    <!-- Gallery -->



    <!-- Gallery -->




</section>
<div class="popup">
    <form>
      <textarea placeholder="Type here..."></textarea>
      <button type="button" onclick="submitForm(this)">Submit</button>
      <button type="button" onclick="closePopup(this)">Close</button>
    </form>
  </div>
<!-- End Vertically centered Modal -->
<div class="modal fade" id="delete-model" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Delete Project</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    Fill the confirm text
                    <input class="form-control" type="text">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-danger">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div><!-- End Basic Modal-->
<!-- End Vertically centered Modal  -->
{% endblock %}

{% block script %}
<!-- <script src="../static/scripts/drowing.js"></script> -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const image = document.getElementById('image');
        const container = document.getElementById('image-container');
        const img_container = document.getElementById('annotation-list')
        const annotationList = document.getElementById('list');
        const zoomInButton = document.getElementById('zoom-in');
        const zoomOutButton = document.getElementById('zoom-out');
        const zoomLevelSpan = document.getElementById('zoom-level');
        const deleteButton = document.getElementById('delete-button');
        
        const submitButton = document.getElementById('submit-button');
        const unsubmitButton = document.getElementById('unsubmit-button');
        const resetButton = document.getElementById('reset-button');
        const colors = [{% for color in project.labels_info['colors'] %}'{{color}}', {% endfor %}]
        const classesname = [{% for color in project.labels_info['classname'] %}'{{color}}', {% endfor %}]

        let zoomLevel = 100;
        let drawing = false;
        let start_x = 0;
        let start_y = 0;

        let label = [];
        let firstlabel = [];

        let undoStack = [];

        submitButton.addEventListener('click', submitTask)
        unsubmitButton.addEventListener('click', unsubmitTask)
        // Fetch boxes from the API
        function fetchBoxes() {
            fetch(`{{url_for('api.get_task',id=task.id)}}`)
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    label = data; // Assign fetched boxes to the boxes array
                    firstlabel = data
                    updateList()
                })
                .catch(error => {
                    console.error('Failed fetching boxes:', error);
                });
        }


        // Assuming you have the imageId somewhere, you can call this function
        fetchBoxes();

        async function updateDatabase() {
            res = await fetch(`{{url_for('api.update_task',id=task.id)}}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ "label": label, "label_by": {{ current_user.id }}})
            })

            firstlabel = label
            updateList()
            console.log({ "label": label, "label_by": {{ current_user.id }}})
    }

    async function submitTask() {
        res = await fetch(`{{url_for('api.update_task',id=task.id)}}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ "label": label, "label_by": {{ current_user.id }}, "approved":true}),
        })
    firstlabel = label
    console.log({ "label": label, "label_by": {{ current_user.id }}, "approved":true})
    }
    async function unsubmitTask() {
        res = await fetch(`{{url_for('api.update_task',id=task.id)}}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ "label": label, "label_by": {{ current_user.id }}, "approved":false,"finished":false}),
        })
    firstlabel = label
    console.log({ "label": label, "label_by": {{ current_user.id }}, "approved":false,"finished":false})
    }

    function updateList() {

        const tmp = `<span class="badge rounded-pill bg-secondary-light" style="background-color:${label.color}">${label.classname}</span>`;
        annotationList.innerHTML = tmp
        console.log(annotationList.innerHTML);
        
    }

    function adjustZoom(factor) {
        zoomLevel += factor;
        zoomLevel = Math.min(Math.max(zoomLevel, 50), 200);
        image.style.width = `${zoomLevel}%`;
        zoomLevelSpan.textContent = zoomLevel;

        // Original dimensions
        const originalWidth = image.naturalWidth;
        const originalHeight = image.naturalHeight;

        // Displayed dimensions
        const displayedWidth = image.width;
        const displayedHeight = image.height;

        console.log(`Original dimensions: ${originalWidth}x${originalHeight}`);
        console.log(`Displayed dimensions: ${displayedWidth}x${displayedHeight}`);
        updateAnnotations();
    }

    function createAnnotation(box, index) {
        const annotation = document.createElement('div');
        annotation.className = 'annotation';
        annotation.dataset.index = index;

        annotation.style.borderColor = box.borderColor;
        annotation.style.backgroundColor = box.backgroundColor


        annotation.addEventListener('click', function () {
            annotation.classList.toggle('selected');
            // dragging = true;
            // draggedBox = box;
        });

        // annotation.addEventListener('mousedown', function (event) {
        //     const rect = annotation.getBoundingClientRect();
        //     offsetX = event.clientX - rect.left;
        //     offsetY = event.clientY - rect.top;
        //     annotation.classList.add('dragging'); // To possibly style it differently while dragging
        // });

        // annotation.addEventListener('mouseup', function (event) {
        //     if (dragging) {
        //         dragging = false;
        //         draggedBox = null;
        //         updateList();
        //     }
        // });

        annotation.style.left = `${box.x * image.width}px`;
        annotation.style.top = `${box.y * image.height}px`;
        annotation.style.width = `${box.width * image.width}px`;
        annotation.style.height = `${box.height * image.height}px`;

        container.appendChild(annotation);
    }

    image.addEventListener('mousedown', function (event) {
        drawing = true;
        const rect = image.getBoundingClientRect();
        start_x = (event.clientX - rect.left);
        start_y = (event.clientY - rect.top);
        console.log(`x=${start_x} , y=${start_y}`);
    });

    image.addEventListener('mouseup', function (event) {
        if (!drawing) return;
        drawing = false;

        const rect = image.getBoundingClientRect();
        const end_x = (event.clientX - rect.left);
        const end_y = (event.clientY - rect.top);


        const selectedClass = colorPicker.value - 1;
        const classname = classesname[selectedClass]
        const borderColor = colors[selectedClass];
    
        const box = {
            x: Math.min(start_x, end_x) / image.width,
            y: Math.min(start_y, end_y) / image.height,
            width: Math.abs(end_x - start_x) / image.width,
            height: Math.abs(end_y - start_y) / image.height,
            classname: selectedClass,
            borderColor: borderColor,
            backgroundColor: 'rgba(128,128,128,0.2)'
        };
        if (box.height == 0 || box.width == 0) return;


        boxes.push(box);

        updateAnnotations();
        updateList();
    });

    zoomInButton.addEventListener('click', function () {
        adjustZoom(10);
    });

    zoomOutButton.addEventListener('click', function () {
        adjustZoom(-10);
    });


    deleteButton.addEventListener('click', function () {
        // Collect all the selected annotations
        const selectedAnnotations = document.querySelectorAll('.annotation.selected');

        // Get their indices
        const indicesToDelete = Array.from(selectedAnnotations).map(annotation => parseInt(annotation.dataset.index, 10));

        // Remove the annotation element from the DOM
        selectedAnnotations.forEach(annotation => {
            annotation.remove();
        });

        // Remove the corresponding boxes
        boxes = boxes.filter((box, index) => !indicesToDelete.includes(index));

        // Update indices and re-render all remaining annotations
        updateAnnotations();
        updateList();
    });

    resetButton.addEventListener('click', function () {
        boxes = []
        updateAnnotations();
        updateList();
    })


});

</script>
{% endblock %}