{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Flask Login Example 
</h1>
<h2 class="subtitle">
    Welcome, {{current_user.username}}!

</h2>
<h1>All Projects</h1>
<ul>
    {% for project in projects %}

        <li><a href="{{ url_for('main.project',id=project.id) }}"">{{ project.name }}<span class="badge bg-secondary">{{ project.type }}</span><a></li>
    {% endfor %}
</ul>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            {% if category %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endwith %}


{% endblock %}